@import url("./normalize.css");

// === MIXIN ===
@mixin list-null {
  padding: 0;
  margin: 0;
  list-style: none;
}
// === / MIXIN ===

// === VARIABLES ===
$breakpoint-ex-sm-max: 360px;
$breakpoint-sm-max: 648px;
$breakpoint-md-max: 768px;
$breakpoint-lg-max: 992px;
$breakpoint-xl-max: 1200px;
$breakpoint-xxl-max: 1400px;

$base-color: #18216d;
// === / VARIABLES ===

// === COMMON ===

body {
  font-family: "Inter", sans-serif;
  color: $base-color;
}

a {
  text-decoration: none;
  color: $base-color;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;

  @media (max-width: $breakpoint-md-max) {
    padding-left: 4%;
    padding-right: 4%;
  }

  &--main {
    box-sizing: border-box;
    padding-left: 7%;
    padding-right: 7%;
  }
}

.btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: none;
  transition: 0.2s;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;

  &--burger {
    display: none;
    border: none;

    @media (max-width: $breakpoint-md-max) {
      display: flex;
      align-items: flex-end;
    }

    &__line {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #273551;

      &:not(:last-child) {
        margin-bottom: 6px;
        width: 28px;
      }
    }
  }

  &--register {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  &--downlaod {
    width: 136px;
    height: 52px;
    background-color: $base-color;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;

    &:hover {
      background-color: $base-color * 2;
    }
  }

  &--start {
    background-color: #00ecd0;
    border-radius: 6px;
    width: 180px;
    height: 66px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    &:hover {
      background-color: $base-color;
      color: #ffffff;
    }

    @media (max-width: $breakpoint-xl-max) {
      margin: 0 auto;
    }

    @media (max-width: $breakpoint-md-max) {
      width: 120px;
      height: 40px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &--more {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    align-items: flex-start;
    padding-left: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

//--------------header----------------
.header {
  padding-top: 25px;
  position: relative;

  @media (max-width: $breakpoint-md-max) {
    padding-top: 53px;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  margin-right: 111px;

  @media (max-width: $breakpoint-xl-max) {
    margin-right: 0;
  }
}

.logo-img {
  @media (max-width: $breakpoint-md-max) {
    width: 70px;
    height: 20px;
  }
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  @media (max-width: $breakpoint-xl-max) {
    gap: 20px;
    justify-content: center;
  }

  @media (max-width: $breakpoint-md-max) {
    display: none;
  }

  &__list {
    @include list-null();
    display: flex;

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 58px;

      @media (max-width: $breakpoint-md-max) {
        margin-right: 0;
      }
    }

    @media (max-width: $breakpoint-md-max) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  &--active {
    display: flex;
    flex-direction: column;
    width: 92%;
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    z-index: 5;
    padding-bottom: 35px;
    padding-top: 15px;
  }
}

.header-login {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
//--------------/header----------------

//--------------intro----------------

.intro {
  background-image: url("../img/intro.png");
  background-repeat: no-repeat;
  background-position: right -23px bottom 2px;
  padding-top: 112px;
  padding-bottom: 135px;

  @media (max-width: $breakpoint-xl-max) {
    background-size: contain;
    padding-bottom: 69%;
    background-position: right 0px bottom 0px;
  }

  @media (max-width: $breakpoint-md-max) {
    background-image: url("../img/intro-mb.png");
    background-size: auto;
    background-position-x: center;
    padding-top: 20px;
    padding-bottom: 342px;
  }

  &__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

    margin-bottom: 0px;

    @media (max-width: $breakpoint-md-max) {
      font-size: 28px;
      line-height: 27px;
      margin-bottom: 19px;
    }
  }

  &__text {
    font-size: 17px;
    line-height: 28px;

    margin-bottom: 34px;

    @media (max-width: $breakpoint-md-max) {
      font-size: 14px;
      line-height: 20px;
      max-width: 275px;
      margin: 0 auto;
      margin-bottom: 29px;
    }
  }
}

.intro-wrap {
  width: 500px;

  @media (max-width: $breakpoint-xl-max) {
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: $breakpoint-md-max) {
    width: 100%;
  }
}
//--------------/intro----------------

//--------------benefit----------------
.benefit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 90px;
  padding-right: 5%;

  @media (max-width: $breakpoint-md-max) {
    flex-direction: column;
    padding-right: 0;
    padding-top: 42px;
    gap: 5px;
  }

  &__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;

    width: 500px;

    @media (max-width: $breakpoint-md-max) {
      width: 100%;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.benefit-indicators {
  display: flex;
  gap: 88px;
  padding-bottom: 20px;

  @media (max-width: $breakpoint-md-max) {
    gap: 44px;
    padding-bottom: 0;
  }

  &__number {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;

    display: block;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-md-max) {
      font-size: 33px;
      line-height: 28px;
      margin-bottom: 0;
    }
  }

  &__list {
    @include list-null();
    display: flex;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-md-max) {
      margin-bottom: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__img {
    @media (max-width: $breakpoint-md-max) {
      width: 9px;
      height: 10px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 28px;

    @media (max-width: $breakpoint-md-max) {
      font-size: 9px;
      line-height: 12px;
    }
  }
}
//--------------/benefit----------------

//--------------customers----------------
.customers {
  padding-top: 20px;

  @media (max-width: $breakpoint-md-max) {
    padding-top: 15px;
  }

  &__list {
    @include list-null();
    display: flex;
    justify-content: space-around;

    @media (max-width: $breakpoint-md-max) {
      align-items: center;
      gap: 15px;
    }
  }

  &__item {
    @media (max-width: $breakpoint-md-max) {
      width: 25%;
    }
    &--md {
      @media (max-width: $breakpoint-lg-max) {
        display: none;
      }
    }
  }

  &__img {
    @media (max-width: $breakpoint-md-max) {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }
}
//--------------/customers----------------

//--------------features----------------
.features {
  padding-top: 85px;
  padding-bottom: 80px;

  @media (max-width: $breakpoint-md-max) {
    padding-top: 24px;
  }

  &__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
    text-transform: capitalize;

    text-align: center;
    margin-bottom: 0;

    @media (max-width: $breakpoint-md-max) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 30px;

    text-align: center;
    width: 550px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 48px;

    @media (max-width: $breakpoint-md-max) {
      display: none;
    }

    &--md {
      display: none;

      @media (max-width: $breakpoint-md-max) {
        display: inline-block;
        opacity: 0.5;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        margin-bottom: 39px;
      }
    }
  }

  &__list {
    @include list-null();
    display: flex;
    gap: 78px;
    flex-wrap: wrap;

    @media (max-width: $breakpoint-md-max) {
      gap: 48px;
    }
  }

  &__item {
    max-width: 320px;
  }

  &__img {
    @media (max-width: $breakpoint-md-max) {
      width: 48px;
      height: 48px;
    }
  }

  &__item-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0px;

    @media (max-width: $breakpoint-md-max) {
      font-size: 20px;
      line-height: 24px;
      margin-top: 17px;
    }
  }

  &__item-text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;

    @media (max-width: $breakpoint-md-max) {
      font-size: 14px;
      line-height: 24px;
      margin-top: 12px;
      margin-bottom: 20px;
    }
  }
}
//--------------/features----------------

// === / COMMON ===
